@import './variables';
@import './mixins';
@import './placeholders';

.collapse {
    @include flex(row, center, '');

    &__container {
        width: 80%;
        margin-bottom: 30px;
        @include flex(column, '', center);

        &--header {
            cursor: pointer;
            width: 100%;
            border-radius: $radius-small;
            background-color: $main-color;
            z-index: 1;
            @include flex(row, space-between, center);

            &__checkbox {
                display: none;
            }
    
            &__title {
                padding: 10px 20px 10px 15px;
                display: block;
                @include font-properties(24px, 500, #FFF);
            }
        
            &__icon {
                margin-right: 20px;
                @include font-properties(24px, '', #FFF);
        
                // Animation CSS
                transition: transform 300ms ease-out;
                
                // Gestion de l'ouverture/fermeture
                &.is-open {
                    transform: rotate(-180deg);
                }
            }
        }
        
        &--body {
            width: 100%;
            text-align: left;
            max-height: 0;
            overflow: hidden;
            transform: translateY(-5px);
            z-index: 0;
            
            // Animation CSS
            transition: max-height 300ms ease-out;
            
            // Gestion de l'ouverture/fermeture
            &.is-open {
                max-height: 1000px;
            }
            
            &__content {
                background-color: #F6F6F6;
                padding: 22.5px 17.5px 17.5px 17.5px;
                border-radius: 0 0 $radius-small $radius-small;
                @include font-properties(18px, 400, $main-color);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .collapse {
        &__container{
            width: 100%;
            margin-bottom: 20px;

            &--header {
                padding: 10px;
    
                &__title {
                    font-size: 13px;
                }
        
                &__icon {
                    font-size: 16px;
                }
            }
            
            &--body {
                font-size: 12px;
            }
        }
    }
}