@import './variables';
@import './mixins';
@import './placeholders';

.collapse {
    @include flex(row, center, '');

    &__container {
        width: 80%;
        margin-bottom: 30px;
    }

    &__header {
        cursor: pointer;
        width: 100%;
        border: none;
        padding: 10px 20px 10px 15px;
        border-radius: $radius-small;
        background-color: $main-color;
        @include flex(row, space-between, center);
    }

    &__title {
        @include font-properties(24px, 500, #FFF);
    }

    &__icon {
        @include font-properties(24px, '', #FFF);

        // Animation CSS
        transition: transform 300ms ease-out;

        // Gestion de l'ouverture/fermeture
        &.is-open {
            transform: rotate(-180deg);
        }
    }

    &__body {
        text-align: left;
        background-color: #F6F6F6;
        padding: 20px;
        border-radius: $radius-small;
        @include font-properties(24px, 400, $main-color);

        // Animation..?
    }
}

@media screen and (max-width: 576px) {
    .collapse {
        &__container{
            width: 100%;
            margin-bottom: 20px;
        }

        &__header {
            padding: 10px;
        }

        &__title {
            font-size: 13px;
        }

        &__icon {
            font-size: 16px;
        }

        &__body {
            font-size: 12px;
        }
    }
}