@import './variables';
@import './mixins';
@import './placeholders';

.home__gallery {
    flex-wrap: wrap;
    gap: 50px 60px;
    padding: 50px;
    margin-bottom: 40px;
    background-color: #F6F6F6;
    border-radius: $radius-large;
    @include flex(row, baseline, normal);
}

@media screen and (max-width: 576px) {
    .home__gallery {
        background: none;
        padding: 0;
        gap: 20px;
        @include flex(column, flex-start, center);
    }
}