@import './variables';
@import './mixins';
@import './placeholders';

.home__gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border-radius: $radius-large;
    padding: 3rem;
    grid-gap: 3rem;
    margin-bottom: 40px;
    background-color: #F6F6F6;
}
.home__gallery a{
    width: 0;
}