@import './variables';
@import './mixins';
@import './placeholders';

.font {
    color: $main-color;
    font-weight: 500;
}
.star-active {
    color: $main-color;
    margin-left: 15px;
}
.star-inactive {
    color: #E3E3E3;
    margin-left: 15px;
}



.housing-info {
    margin: 25px 0;
    @include flex(row, space-between, flex-start);

    &__text {
        &--title {
            font-size: 36px;
            text-align: left;
            margin-bottom: 10px;
        }

        &--location {
            font-size: 18px;
            text-align: left;
            margin-bottom: 20px;
        }

        &--tag-list {
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
            row-gap: 10px;
            @include flex(row, left, baseline);

            &__tag {
                list-style: none;
                padding: 5px 40px;
                margin: 0;
                margin-right: 10px;
                background: $main-color;
                border-radius: $radius-medium;
                @include font-properties(14px, 500, #FFF);
            }
        }
    }

    &__host {
        @include flex(column, center, end);

        &--identity {
            @include flex(row-reverse, center, center);

            &__photo {
                width: 64px;
                height: 64px;
                border-radius: 100px;
            }

            &__name {
                font-size: 18px;
                text-align: right;
                margin-right: 10px;
                width: min-content;
            }
        }

        &--rating {
            font-size: 24px;
            margin-top: 27px;
        }
    }
}



.housing-collapses {
    @include flex(row, space-between, flex-start);
}

.collapse.housing-collapses__collapse {
    width: 48%;
}

.collapse__container.housing-collapses__collapse {
    width: 100%;
    margin-bottom: 0;
}

.collapse__title.housing-collapses__collapse {
    font-size: 18px;
}

.collapse__body.housing-collapses__collapse {
    font-size: 18px;
}

.equipments-list {
    margin: 0;
    padding: 0;
}
.equipment {
    list-style: none;
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 576px) {
    .star-active, .star-inactive {
        margin-left: 0;
        margin-right: 7px;
    }

    .housing-info {
        margin-bottom: 13px;
        @include flex(column, flex-start, stretch);

        &__text {
            &--title {
                font-size: 18px;
            }

            &--location {
                font-size: 14px;
            }

            &--tag-list {
                &__tag {
                    font-size: 10px;
                    padding: 3px 20px;
                    border-radius: $radius-small;
                }
            }
        }

        &__host {
            margin-top: 16px;
            @include flex(row-reverse, space-between, center);

            &--identity {
                &__photo {
                    width: 32px;
                    height: 32px;
                }

                &__name {
                    font-size: 12px;
                    width: min-content;
                }
            }

            &--rating {
                font-size: 13px;
                margin: 0;
            }
        }
    }

    .housing-collapses {
        @include flex(column, space-between, center);
        gap: 20px;
    }    
    .collapse.housing-collapses__collapse {
        width: 100%;
    }
    .collapse__title.housing-collapses__collapse {
        font-size: 13px;
    }
    .collapse__body.housing-collapses__collapse {
        font-size: 12px;
    }    
}