@import './variables';
@import './mixins';
@import './placeholders';

.housing__card {
    position: relative;
    width: 340px;
    height: 100%;
    aspect-ratio: 1/1;
    flex: 0 1 33%;

    &--cover {
        border-radius: $radius-medium;
        object-fit: cover;
        @extend %width-heignt-100;
    }

    &--title {
        position: absolute;
        bottom: 0;
        text-align: left;
        margin: 0 0.5rem 1rem 1rem;
        @include font-properties(18px, 500, #FFF);
    }

    &--overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        @extend %width-heignt-100;
        border-radius: $radius-medium;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        pointer-events: none;
    }
}

@media screen and (max-width: 576px) {
    .housing__card {
        width: 100%;
        aspect-ratio: 4/3;
        
        &--overlay {
            bottom: 5px;
        }
    }
}