@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/placeholders';

.home__gallery {
    flex-wrap: wrap;
    gap: 50px 60px;
    padding: 50px;
    margin-bottom: 40px;
    background-color: #F6F6F6;
    border-radius: $radius-large;
    @include flex(row, stretch, normal);
}


@media screen and (max-width: 1300px) {
    .home__gallery {
        gap: 2.9vw 3.2vw;
    }
}
@media screen and (max-width: 596px) {
    .home__gallery {
        background: none;
        padding: 0;
        gap: 20px;
        @include flex(column, flex-start, center);
    }
}