@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/placeholders';

.banner__image {
    @include flex(row, center, center);
    position: relative;
    height: 223px;
    background-size: cover;
    background-position: center center;
    border-radius: $radius-large;
    z-index: 0;
    
    &--overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: $radius-large;
        z-index: 1;
    }
}
.banner__title {
    @include font-properties(48px, 500, #FFF);
    position: relative;
    z-index: 2;
}
.break__line {
    display: none;
}

@media screen and (max-width: 576px) {
    .banner__image {
        height: 111px;
        margin-bottom: 22px !important;
        padding-left: 16px;
        border-radius: $radius-medium;
        @include flex(row, left, center);

        &--overlay {
            border-radius: $radius-medium;
        }
    }
    .banner__title {
        font-size: 24px;
        text-align: left;
    }
    .break__line {
        display: initial;
    }
}